body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: wheat;
}

a {
  color: #00B7FF;
}

canvas {
	image-rendering: -webkit-optimize-contrast; /* historic fallback */
	image-rendering: crisp-edges; /* standard property */
}

input::placeholder {
  color: grey;
  opacity: 1; /* Firefox */
}

select {
  background-color: black;
  color: white;
}
.centred {
  text-align: center;
  border: 3px solid grey;
  padding: 10px;
}

.div-table {
  display: table;         
  width: 100%;             
  border: 3px solid grey;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col-left {
  display: table-cell;
  width: 150px;
  text-align: left;
  vertical-align: top;
}
.div-table-col-right {
  display: flex;
  text-align: right;
}

#messages {
  scroll-behavior: smooth;
  display: block;
  height: 350px;
  overflow-y: scroll;
}

.message {
  display: flex;
}

.stats {
  color: white;
}

.cell-spacer {
  height: 50px;
}